<section ng-init="getUser()">
    <table class="table">
        <thead>
            <th>id</th>
            <th>UserName</th>
            <th>access_token</thd>
            <th>user_id</th>
            <th>controll</th>
        </thead>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}></td>
            <td>{{user.access_token}}</td>
            <td>{{user.user_id}}</td>
            <td><button class="btn btn-default">delRecord</button></td>
        </tr>
    </ul>
</section>